*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #1A2D3C;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background:#2B3A47;
    position: fixed;
    top: 0;
    left: 0;
}
/* LOGO */
.logo img{
    width: 85px;
}

/* SEARCH-BAR */
input{
    width: 300px;
    padding: 0 10px;
    border-radius: 5px;
}

/* MAIN */
main{
    padding: 72px 20px 0 20px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #7f7f7f;
}

ul li{
    flex-basis: 205px;
    padding: 20px;
    margin: 20px 15px;
    list-style: none;
    background: #2B3A47;
    text-align: center;
}

.poster {
    padding: 20px;
}

.poster img{
    width: 185px;
    height: 278px;
}

.poster .no-img{
    width: 185px;
}

li div{
    padding: 10px 0;
}

li .title{
    text-transform: uppercase;
    color: #fff;
}

li .fa-star{
    color: #000;
}

.flag{
    width: 40px;
}