*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #1A2D3C;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background:#2B3A47;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* LOGO */
.logo img{
    width: 85px;
}

/* SEARCH-BAR */
input{
    width: 300px;
    padding: 0 10px;
    border-radius: 5px;
}

/* MAIN */
main{
    padding: 100px 20px 0 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* GENRES */
.genres{
    list-style: none;
    margin: 20px 10px;
}

.genres a{
    text-decoration: none;
    color:#fff;
}

/* MOVIES AND SERIES */
.movies,
.series{
    position: relative;
    flex-basis: 265px;
    padding: 20px;
    margin: 20px 15px;
    list-style: none;
    background: #2B3A47;
    text-align: center;
    color: #7f7f7f;
    transition: .4s;
}

li div{
    padding: 10px 0;
}

li .title{
    text-transform: uppercase;
    color: #fff;
}

li .fa-star{
    color: #000;
}

.flag{
    width: 40px; 
}

/* POSTER */
.poster {
    padding: 20px;
}

.poster img{
    width: 185px;
    height: 278px;
}

.poster .no-img{
    width: 185px;
    height: 278px;
    background-image: url(../img/image-not-found.png);
    background-position: center;
    background-size: cover;
}

/* STORY */
.story{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer; 
    text-align: left;
    overflow-y: auto;
    transition: .4s;
}

.story p{
    padding: 20px;
    font-size: 13px;
}

/* HOVER */
ul li:hover{
    transform: scale(1.1);
}

.story:hover{
    background: rgba( 0, 0, 0, 0.8);
    opacity: 1;
    border-radius: 5px;
    color: #fff;
}