*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #1A2D3C;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background:#2B3A47;
    position: fixed;
    top: 0;
    left: 0;
}
/* LOGO */
.logo img{
    width: 85px;
}

/* SEARCH-BAR */
input{
    width: 300px;
    padding: 0 10px;
    border-radius: 5px;
}

/* MAIN */
main{
    padding: 72px 20px 0 20px;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    padding: 10px;
}

.flag{
    width: 30px;
    position: relative;
    top: 3px;
}