<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <input type="text"
            v-model="searchBar"
            @keyup.enter="search"
        >
        <button @click="search">cerca</button>

        <ul>
            <li v-for="movie in movies">
                <div>Titolo: {{movie.title}}</div>
                <div>Titolo originale: {{movie.original_title}}</div>
                <div>Lingua originale: 
                    <span v-if="movie.original_language === 'it' || movie.original_language === 'en'">
                        <img :src="flag(movie.original_language)" alt="">
                    </span>
                    <span v-else>
                        {{movie.original_language}}
                    </span>
                </div>
                <div>Voto: 
                    <span>
                        <i v-for="n in getStar(movie.vote_average)" class="fas fa-star"></i>
                        <i v-for="n in 5 - getStar(movie.vote_average)" class="far fa-star"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>